// Colores
$color-primario: #73c5a5;
$texto:#333;
$texto2:#fff;

// Tipografia 
$principal: Georgia, 'Times New Roman', Times, serif;
$secundario: Arial, Helvetica, sans-serif;

// Tamaño de letra estandar 
$fzparem:16px;